/* Main content styling */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  color: #333;
}

a {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background: #f7f7f7;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
}

a:hover {
  background: #e0e0e0;
}

/* Nav bar CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #81dbd7;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.logo a {
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 1.5rem;
}

.navbar a {
  color: rgb(59, 212, 218);
  text-decoration: none;
  font-weight: bold;
}

a {
  transition: all 0.6s ease;
}

.nav-links a:hover {
  color: #4fc053;
}
