package templates



templ Error(message string) {
@Layout("Error") {
<div class="error-container">
    <h1>Error</h1>
    <p>{ message }</p>
    // button to remove client id and secret then reload
    <form id="remove" hx-post="/remove-secrets" hx-target="body" hx-swap="outerHTML">
        <button type="submit">Remove Credentials</button>
    </form>
</div>


}
}