package templates

templ Index() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Go ECharts Demo</title>
			<link rel="stylesheet" href="/static/css/styles.css"/>
		</head>
		<body>
			<h1>Go EChart Demo</h1>
			<p>Click on the links below to view different chart types:</p>
			<a href="/line">Line Chart</a>
			<a href="/bar">Bar Chart</a>
		</body>
	</html>
}
