package templates


templ Nav() {
    <nav class="navbar">
        <div class="logo">
            <a href="/">GoFit</a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            // <li><a href="/line?type=steps">Steps Data</a></li>
            // <li><a href="/line?type=heart">Heart Rate</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
}
