package templates

templ Nav() {
	<nav class="navbar">
		<div class="logo">
			<a href="/">GoFit</a>
		</div>
		<h1>Fitbit Data</h1>
		<ul class="nav-links">
			<li><a href="/">Home</a></li>
			<li><a href="/profile">Profile</a></li>
		</ul>
	</nav>
}
